<html>
	<head>
<link rel="stylesheet" href="/css/uikit.min.css">
<style>
	.uk-child-width-1-3\@m>* {
    margin: 10px;
    width: calc(95% * 1 / 3.001);
    float: left;
}
</style>
	</head>
	<body>

		<div class="uk-container">
      <a class="uk-button uk-button-default" href="/admin/logout">Logout</a>
			<div class="uk-child-width-1-3@m">
  <div class="uk-card uk-card-default uk-card-body">
    <h5 class="uk-card-title">Faculty</h5>
    <a href="/admin/faculty" class="uk-button uk-button-default">Faculty</a>
  </div>
   <div class="uk-card uk-card-default uk-card-body">
    <h5 class="uk-card-title">Course</h5>
    <a href="/admin/course" class="uk-button uk-button-default">Course</a>
  </div>
   <div class="uk-card uk-card-default uk-card-body">
    <h5 class="uk-card-title">Student</h5>
    <a href="/admin/student" class="uk-button uk-button-default">Student</a>
  </div>
   <div class="uk-card uk-card-default uk-card-body">
    <h5 class="uk-card-title">Books</h5>
    <a href="/admin/book" class="uk-button uk-button-default">Books</a>
  </div>
   <div class="uk-card uk-card-default uk-card-body">
    <h5 class="uk-card-title">Manager</h5>
    <a href="/admin/userlist" class="uk-button uk-button-default">Manager</a>
  </div>
</div>
		</div>
		
	</body>
</html>