<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
			<link rel="stylesheet" href="/css/uikit.min.css">

</head>
<body>

	<div class="uk-container">

	<h1>Add Course</h1>

	<a href="/admin/course" class="uk-button uk-button-default">Back</a> |
	<a href="/admin/logout" class="uk-button uk-button-default">logout</a>

<br><br>

<form method="post">
	<table border="0">
		<tr>
			<td>Course Id</td>
			<td><input type="text" class="uk-input" name="course_id"></td>
		</tr>
		<tr>
			<td>Course Name</td>
			<td><input type="text" class="uk-input" name="course_name"></td>
		</tr>
		<tr>
			<td>Section</td>
			<td><input type="text" class="uk-input" name="section"></td>
		</tr>

		<tr>
			<td>Seats</td>
			<td><input type="text" class="uk-input" name="seats"></td>
		</tr>
		<tr>
			<td>Category</td>
			<td><input type="text" class="uk-input" name="category"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="uk-button uk-button-default" name="submit" value="Save"></td>
		</tr>
	</table>
</div>
</form>
</body>
</html>